################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Passion-project/FileContentIndex/22614184-3d0e-41f3-a25f-0d0f37ba4116.vsidx
/.vs/Passion-project/FileContentIndex/43ba339c-ad7a-48d6-81ac-3b80fda0efc5.vsidx
