@model Passion_Project.Models.TeamDTO

@{
    ViewBag.Title = "Info";
}

<div>
    <h2>@Model.TeamName</h2>
    <p>@Model.TeamCountry</p>
    <p>@Model.TeamBudget</p>
</div>
<a href="/Team/TeamList">Back to Teams</a>

