@model IEnumerable<Passion_Project.Models.TeamDTO>
@{
    ViewBag.Title = "TeamList";
}

<h2>Current Teams</h2>
<a href="/Team/New">Add Team</a>
@foreach(var team in Model)
            {
                <h4><a href="/Team/Info/@team.TeamId">@team.TeamName</a></h4>
                <div>Country: @team.TeamCountry</div>
                <div>Team Budget: @team.TeamBudget</div>
                <a href="/Team/Delete">Delete Team</a>
            }


