@model IEnumerable<Passion_Project.Models.PlayerDTO>
@{
    ViewBag.Title = "PlayerList";
}

<h2>Players List</h2>
<a href="/Player/New">Add Player</a>
@foreach(var player in Model)
            {
                <h4><a href="/Player/Info/@player.PlayerId">@player.PlayerName</a></h4>
                <div>Position: @player.PlayerPosition</div>
                <div>Current club: @player.TeamName</div>
            }
